body{
    background: url("../img/background/bg-pattern.png") repeat;
}

.in-page-header{
	padding: 0px 1px 0px 0px;
}

.in-page-header > a{
	color: white;
    font-size: x-large;
    font-weight: 300;
	text-align: center;
	display: block;
	background-color: #ff4949;
}

.in-page-header > a:hover, .in-page-header > a:focus{
	color: #ff4949;
    font-size: x-large;
    font-weight: 700;
	background-color: white;
}

.container-alignment{
	margin-top: -2%;
}

.sub-category-title{
    font-size: xx-large;
    font-weight: 400;
    color: white;
}

.sub-category-background{
    background-color: #ff4949;
}

.img-thumbnail-extra{
    margin: 15px -10px 15px;
}

.brief-post-background{
    background-color: antiquewhite;
    border-bottom: solid #ffffff 5px;
    border-right: solid #ffffff 5px;
}

.brief-post-content{
    font-size: larger;
	margin-top: 15px;
}

.brief-post-date{
    font-size: medium;
    font-weight: 300;
    font-style: italic;
    margin-top: 5px;
    margin-left: -15px;
}

.post-date{
    font-size: large;
    font-weight: 400;
    font-style: italic;
    margin-top: 5px;
    margin-left: -15px;
}

.post-content{
    font-weight: 400;
}

.brief-post-date a{
    color: #ff4949;
    font-size: medium;
    font-weight: 400;
}

.row-seperator{
    height: 5%;
}

.post-title{
    font-size: 40px;
    font-weight: 300;
}

.prev-post{
    font-weight: 400;
    font-size: 25;
    font-style: italic;
    border-right: 1px solid white;
    position: relative;
    top: 5px;
    padding-right: 20px;
    color: white;
}

.next-post{
    font-weight: 400;
    font-size: 25;
    font-style: italic;
    border-left: 1px solid white;
    position: relative;
    top: 5px;
    padding-left: 20px;
    color: white;
}

.sort-by{
    position: relative;
    top: 5px;
    background-color: #f5f5f5;
    font-size: medium;
}

.filter-label{
    position: relative;
    top: 10px;
    color: white;
    font-size: medium;
    font-weight: 500;
}
